<appSettings>
  <add key="Netatmo.ClientId" value="xxxxxxxxxxxxxxxxxxx"/>
  <add key="Netatmo.Secret" value="xxxxxxxxxxxxxxxxxxx"/>
  <add key="Netatmo.Username" value="my@email.com"/>
  <add key="Netatmo.Password" value="MySecretPassword"/>
  
  <add key="BasicAuthentication.UserName" value="MyUpdateUser" />
  <add key="BasicAuthentication.Password" value="MySeretUpdatePassword" />
</appSettings>